header {
    text-align: center;



}
nav{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 


}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    min-height: 8vh;
    


}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;





}
.nav-links a {
    color: ivory;
    text-decoration: none;
    font-family: 'Potta One', cursive;



}

.nav-links li {
    list-style: none;


}

body {
    margin: auto;
    


}

main {
    text-align: center;

}

h2 {
    background-color: blue;
    padding: 15px;


}

main {
    background-color: burlywood;

}
